* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    
}
/* Sezione item */
.items {
    display: inline-block;
    margin: 20px 10px;
    width: calc(1200px / 3 - 23px);
    position: relative;
}

.items img{
    width: 100%;
}

.heart {
    text-align: center;
    line-height: 45px;
    font-size: 30px;
    height: 45px;
    width: 45px;
    background-color: #fff;
    position: absolute;
    top: 20px;
    right: 0;
}
/* / Sezione item */

/* Sezione info capo */
.text {
    position: relative;
    top: 5px;
}
.new-price {
    color: red;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
}
/* / Sezione info capo */


